.table{
    display: flex;
    justify-content: center;

}

table{
    width: 60%;
    border: none;
}

tr,th,td {
    border:none;
    border-style: none;
} 

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    height: 40%;
    justify-content: center;
    justify-content: space-around;

  }
  .boton-div{
    display: flex;
    justify-content: end;
  }
  .cerrar{
    width: 5%;
    border: none;
    background-color: transparent;
  }

  .guardar-button{
    background-color: aqua;
  }
  